.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            border: 1px solid red;

            height: 40px;
            line-height: 40px;
        }

        .admin-main {}
    }
}